*{
  margin: 0;
  padding: 0;
}
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.appcontainer {
  display: flex;
  flex: 1;
}

.appcontent {
  position: fixed;
  left: 10%;
  height: 100vh;
  width: 90%;
  overflow-y: auto; /* Enable vertical scrolling */
}